node_modules

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.gitignore
.gitattributes

yarn.lock

.codebeatsettings
.whitesource
_config.yml
_.config.yml
tslint.json
tsconfig.json
tsconfig-lint.json
renovate.json
rollup.config.js
webpack.config.js

.prettierrc
.prettierignore

!dist
demo

.*.swp
.git
.hg
.npmignore
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
